[submodule "cdeps/stb"]
	path = cdeps/stb
	url = https://github.com/nothings/stb/
[submodule "cdeps/cute_headers"]
	path = cdeps/cute_headers
	url = https://github.com/RandyGaul/cute_headers
[submodule "cdeps/glfw"]
	path = cdeps/glfw
	url = https://github.com/glfw/glfw
